:root {
  --sub-heading: #1fd76c;
  --school-company: #186ee7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: JetBrains Mono, monospace;
}
main {
  padding: 50px;
  max-width: 600px;
  display: block;
  margin: 20px auto;
  height: 100%;
  border: 2px solid black;
}
.personal-info h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.sub-heading {
  color: var(--sub-heading);
  margin-bottom: 10px;
}
.school-company {
  color: var(--school-company);
}
.address,
.skills,
.education,
.experience {
  margin-bottom: 20px;
}
hr {
  border: 1px solid black;
}
.experience ul {
  margin: 10px 0 0 30px;
}
